html, body, #body, #background{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
    overflow: hidden;
}

#background, #planets{
    position: fixed;
    top: 0;
    left: 0;
}

#background{
    z-index: 0;
}

#planets{
    z-index: 1;
}

#planets div{
    position: absolute;
}

#map_select{
    float: left;
    width: 20px;
    height: 200px;
    margin-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#controls{
    position: relative;
    margin-top: 10px;
    height: 0px;
    z-index: 2;
}

#map_option{
    float: left;
    height: 2200px;
}

#planet_select{
    float: left;
    margin-left: 10px;
}

#brakes_control{
    float: left;
    margin-left: 10px;
}
